* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

h1 {
    font-family: 'Butterfly Kids', cursive;
    font-size: 5em;
    text-align: center;
}

html {
    font-size: 10px;
    height: 100%;
}

body {
    overflow-y: hidden;
    height: 100%;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 50%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    width: 5.5rem;
    height: 5.5rem;
    border: 2px solid rgba(169, 169, 169, 0.548);
    margin: 0.3rem;
    background-clip: content-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#keyboard {
    user-select: none;
    justify-self: start;
}

.kb-row{
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    justify-content: center;
    touch-action: manipulation; /* disable double-tap zoom on mobile */
    flex-wrap: nowrap;
}

.key {
    min-width: 3.5rem;
    height: 6rem;
    font-size: 1.3rem;
    margin: 0 3px 0;
    color: #000; /* ios 15 bug colored keys blue */
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: rgba(141, 141, 141, 0.397);
    font-weight: bolder;
}

.key-plus-half {
    min-width: 5rem;
    font-size: 1em;
}

.green {
    background-color: rgb(102, 175, 102);
    border: none;
    color: white;
}

.yellow {
    background-color: rgb(238, 199, 92);
    border: none;
    color: white;
}

.gray {
    background-color: rgb(109, 109, 109);
    border: none;
    color: white;
}

.filled-box {
    border: 2px solid rgb(42, 42, 42);
    transition: border 0.05s ease-in;
}

.hint {
    color: rgb(133, 133, 133);
}

.start-animation {
    animation: color-change 0.5s step-end;
}

@keyframes color-change {
    50% { background-color: red }
    100% {background-color: white}
}

.blue {
    background-color: blue;
}

.hide {
    display: none !important;
}

#rules {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-size: 2rem;
    width: 50%;
    margin: 0 auto;
    justify-items: space;
    height: 100%;
}

#keyboard-and-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rules {
    padding: 4rem 4rem;
    border: 2px solid black;
    border-radius: 1rem;
    display: flex;
}

#rules p {
    font-size: 1.4rem;
}

#start-game-btn {
    background-color: green;
    padding: 5rem 10rem;
    border-radius: 20rem;
    color: white;
    font-size: 4rem;
    font-family: 'Roboto';
    border: none;
}

#win-text {
    padding: 5rem 10rem;
    font-size: 14rem;
    border: none;
}
#lose-text {
    padding: 5rem 10rem;
    font-size: 14rem;
    border: none;
}